body {
  background-color: rgba(50, 35, 50, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(50, 35, 50, 0.1);
}

input {
  max-width: 300px;
}

h2 {
  text-align: left;
}

.buttonDiv {
  background-color: rgba(50, 35, 50, 0.1);
  margin-top: 100px;
}

.colorPick {
  background-color: rgba(50, 35, 50, 0.3);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#color {
  margin-left: auto;
  margin-right: auto;
}

.colorbox {
  height: 300px;
  width: 800px;
}
